@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
 }

 .fa-bell,
 .fa-user-tie{
     color: rgb(255, 255, 255);
     position: relative;
 }

 .fa-file-invoice,
 .fa-file-circle-plus,
 .fa-right-from-bracket{
     margin-left: 15px;
     color: rgb(255, 255, 255);
     position: relative;
 }

.logo img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 20px;
}

a.active{
    border-bottom: 3px solid #F8C000;
    transition: 0.5s;
    background: #f8be0037;
}

span{
    margin-left: 20px;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
}

nav{  
   background: #022D66;
   width: 100%;
   float: right;
}

nav ul{
    float: right;
    margin-right: 20px;
}   

nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 15px;
}

nav ul li a{
    color: #ffffff;
    font-size: 20px;
    padding: 6px 15px;
}

.sidebar{
    position: fixed;
    background: #022D66;
    width: 350px;
    height: 100%;
    margin-top: 65px;
}

.sidebar center img{
    height: 50px;
    width: 50px;
    margin-top: 300px;
    margin-right: 190px;
}

.sidebar a{
    display: block;
    line-height: 50px;
    margin-top: 1px;
    transition: 0.5s;
}

.sidebar a:hover{
    border-bottom: 3px solid #F8C000;
}


.sidebar center span{
    margin-left: -10px;
    margin-top: 300px;
}

.name1{
    margin-left: 20px;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
}

nav a:hover{
    border-bottom: 3px solid #F8C000;
    transition: 0.5s;
}

center ul{
   padding: 20px 20px;
   margin-left: 160px; 
}

center ul li span a{
    color: #022D66;
    font-size: 14px;
    border: 0;
    display:block;
    width: 200px;
    padding: 15px 18px;
    background: none;
    text-align: center;
    margin-bottom: 10px;
    margin-left: -70px;
    border: 3px solid #0264A2;
    align-self: center;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

center ul li span a:hover{
    background-color: #f8be00ae;
}

center ul li {
    line-height: 30px;
    padding: 0 5px;
    margin-left: 200px;
    display: inline-block;
}

.icon ul li{
    display: inline-block;
}

.fa-trash-can{
    display: inline-block;
    color: #e81a1a;
    position: relative;
    margin-left: 10px;
    padding-left: 15px;
    
}
.fa-pen-to-square{
    display: inline-block;
    color: #58e81a;
    position: relative;
    margin-left: -70px;
}

.button a{
    color: #022D66;
    border: 0;
    background: #f8be00af;
    display:inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 1100px;
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    align-self: center;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.button a:hover{
    background-color:#F8C000;
}


#btn {
    color: #ffffff;
    border: 0;
    background: none;
    display:inline-block;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    border: 3px solid #ffffff;
    padding: 10px 25px;
    font-size: 20px;
    align-self: center;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
 }
 
 #btn:hover{
     background-color: #feffff61;
 }

 .logout a:hover{
    border-bottom: none;
}

.icon a{
    color: #022D66;
}



